.logo {
    @include verticalCenter;
    h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        color : $white;
        height: 50px;
        width: 175px;
        box-shadow: 15px 15px 0 $color-2;
        margin-top: 20px;
        font-size: 2.3rem;
        transition: 1s;
        &:hover {
            background: $color-2;
            box-shadow: none;
            transition: 1s;
        }
    }
}